/*import de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,500;1,700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../assets/img/Fondomosku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-family: 'Open Sans' , sans-serif;
    padding: 20px;
}

.parrafoIndex{
    margin: 1rem;
}

.main__div__cards{
    width: 90%;
    
}

.card{
    position: relative;
    display: inline-block;
    flex-direction: row;
    
}

.cardTexto{
    color: black;
}