/*import de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,500;1,700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../assets/img/Fondomosku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-family: 'Open Sans' , sans-serif;
    
}

@media screen and (max-width: 1199px) and (min-width: 0px){
    .h1Index {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    }
}

@media screen and (max-width: 1199px) and (min-width: 0px){
    .h2Index {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    }
}

@media screen and (max-width: 1199px) and (min-width: 0px){
    .h4Index {
    font-size: 1rem;
    margin-top: 0.4rem;
    }
}


.parrafoIndex{
    margin: 1rem;
}


.estiloCard{
    background-color: rgba(126, 117, 117, 0.555);
    font-family: 'Open Sans' , sans-serif;
    font-weight: 100;
}

@media screen and (max-width: 1199px) and (min-width: 0px){
    .estiloCard {
    margin-top: 0.8rem;
    }
}

.card-img-top{
    width: 100%;
    height: 60%;
    object-fit: cover;
}


/*
.card{
    position: relative;
    display: inline-block;
    flex-direction: row;
    
}*/

.cardTexto{
    color: black;
}

.contenedorVideo{
    margin-top: 2rem;
}

/*------------------------------- HASTA ACÁ LLEGA EL ESTILADO DEL INDEX-------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------- COMIENZA ESTILADO DE "PRODUCTOS"-------------------------------*/

.carousel{
    margin-top:4rem;
    margin-bottom: 5.3rem;
}



@media screen and (max-width: 1199px) and (min-width: 0px){
    .carousel{
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-bottom: 0;
    }
}

.tituloYParrafoProductos{
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    text-align: center;
}

.card{
    margin-bottom: 1rem;
}

/*------------------------------- HASTA ACÁ LLEGA EL ESTILADO DE PRODUCTOS-------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------COMIENZA ESTILADO DE "RESERVAS"---------------------------------*/

.seccionCardsReservas{
    margin-top: 3rem;
}

.btnReserva{
    background-color: #82fa6ab2;
}