.face{
    background-color: map-get($redes, face);
}
.twitter{
    background-color: map-get($redes , twitter )
}
.ig{
    background-color: map-get($redes, ig )
}
.wsp{
    background-color: map-get($redes , wsp );
}
.google{
    background-color: map-get($redes, google );
}



