.h1Index{
    color: $color-blanco;
    font-size: 2rem;
}

.h2Index{
    color: $color-blanco;
    font-size: 1.7rem;
}

.h3Index{
    color: $color-blanco;
}

.h4Index{
    color: $color-blanco;
    font-size: 1.3rem;
}

@media screen and (max-width: 1199px) and (min-width: 0px){
    .h1Index {
    font-size: $font-grande-mob;
    margin: 0;
    padding: 0;
    }
    .h2Index {
        font-size: $font-mediano-mob;
        margin: 0;
        padding: 0;
        }
    .h4Index {
        font-size: $font-pequenio-mob;
        margin-top: 0.4rem;
        }
}

@keyframes flotar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0);
    }
}

.icono {
    animation: flotar infinite 6s ease-in-out;
}