$fuente-principal: "cinzel";
$color-negro: black;
$color-blanco: white; 
$ancho-100: 100%;
$margin-b1: 1rem;
$margin-b2: 2rem;
$margin-b3: 3rem;
$margin-t1: 1rem;
$margin-t2: 2rem;
$margin-t3: 3rem;
$centrar: center;
$font-pequenio-mob: 1rem;
$font-mediano-mob: 1.2rem;
$font-grande-mob:1.5rem;
$gap-1:1rem;
$gap-2:2rem;
$gap-3:3rem;
$gap-4:4rem;
$gap-5:5rem;

/*maps*/
$redes:(
    face:  #3b5998,
    twitter: #55acee,
    ig:  #ac2bac,
    wsp:  #4db937,
    google: #dd4b39
)

