$fuente-principal: 'Open Sans' , sans-serif;
$color-negro: black;
$color-blanco: white; 
$ancho-100: 100%;
$margin-b1: 1rem;
$centrar: center;
$font-pequenio-mob: 1rem;
$font-mediano-mob: 1.2rem;
$font-grande-mob:1.5rem;
$gap-1:1rem;

/*maps*/
$redes:(
    face:  #3b5998,
    twitter: #55acee,
    ig:  #ac2bac,
    wsp:  #4db937,
    google: #dd4b39
)